// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
	font-family: 'Open Sans', sans-serif;	
}

h1 {
	font-size: 2em;
	color: $brand-primary;
	font-weight: 600;
	margin-bottom: 1em;
}
h2 {
	font-size: 1.6em;
}

/* WIDGETS */

h3.widget-title {
	font-size: 20px;
}

/* MAIN */
.bg-custom {
	background-color: $brand-custom;
}

/* NAVBAR */

.navbar-toggleable-md {
	.navbar-collapse {
	  @media (min-width: 992px) {
		width: auto;
	  }
	}
	#meta-menu {
		.nav-link {
			font-size: 0.9rem;
			padding: 0 1rem;
		}
	}
	.navbar-brand {
	margin-right: 2rem;
	}
	.navbar-nav {
		
	}
}

/* MAINNAV */
.main-nav {
	position: relative;
	border-bottom: solid 2px $brand-primary;
	.container {
		position: static;
		top: 0;
		.navbar-nav {
			li {
				ul {
					display: none;
				}
				&.active, 
				&.current-menu-parent {
					font-weight: bold;
					ul {
						display: block;
					}
				}
			}
		}
	}
}
/* END MAINNAV */

/* SUBNAV */
.sub-menu {
	position: absolute;
	left: 0;
	bottom: -3.4em;
	width: 100%;
	background-color: $brand-primary;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		a.nav-link {
			display: block;
			color: $white;
			font-weight: normal;
			@media (min-width: 992px) {
				padding: 1em 1.65em !important;
			}
		}
		&.active,
		&.current-product-parent{
			a {
			font-weight: bold;
			}
		}
	}
}
/* END SUBNAV */



/* FOOTER */

#menu-over-dfo {
	.menu-item {
		float: none;
		display: block;
	}
}
#wrapper-footer {
	background-color: $gray-lighter;
	padding: 5px 0;
}
.site-info {
	font-size: 0.8em;
}