// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
	font-family: 'Open Sans', sans-serif;	
}

/* WIDGETS */

h3.widget-title {
	font-size: 20px;
}

/* MAIN */
.bg-custom {
	background-color: $brand-custom;
}

/* NAVBAR */

.navbar-toggleable-md {
	.navbar-collapse {
	  @media (min-width: 992px) {
		width: auto;
	  }
	}
	#meta-menu {
		.nav-link {
			font-size: 0.9rem;
			padding: 0 1rem;
		}
	}
	.navbar-brand {
	margin-right: 2rem;
	}
	.navbar-nav {
	}
}
.main-nav {
	border-bottom: solid 2px $brand-primary;
}

/* FOOTER */

#menu-over-dfo {
	.menu-item {
		float: none;
		display: block;
	}
}
#wrapper-footer {
	background-color: $gray-lighter;
	padding: 5px 0;
}

/* HOMEPAGE */

.home-hero {
	background-color:$brand-primary;
	padding: 2em 0;
	color: #fff;
	.home-hero-image {
		margin: -32px 0;
	}
	a {
		color: #fff;
	}
}
.clients_home {
	background-color: $brand-custom;
	padding: 2em 0;	
	.clients_title {
		text-align: center;
		padding: 1rem 0;
		width: 100%;
		h3 {
			color: #005ea9;
			font-weight: 600;
			font-size: 2em;
		}
		h4 {
			color: #005ea9;
			font-size: 1.2em;
		}
	}
	.client_list {
		li {
			display: block;
			float: left;
			width: 14em;
			height: 8em;
			background-color: #fff;
			margin-left: 2em;
			vertical-align: middle;
			a {
				width: 100%;
				height: auto;
				img {
					width: 100%;
				}
			}
		}
		:first-child {
			margin-left: 0;
		}
	}
}
.team_home {
	padding: 2em 0;	
	.team_title {
		text-align: center;
		padding: 1rem 0;
		width: 100%;
		h3 {
			color: #005ea9;
			font-weight: 600;
			font-size: 2em;
		}
		h4 {
			color: #005ea9;
			font-size: 1.2em;
		}
	}
	.team_list {
		li {
			display: block;
			float: left;
			width: 10em;
			height: 14em;
			background-color: #fff;
			margin-left: 2em;
			vertical-align: middle;
			a {
				width: 100%;
				height: auto;
				img {
					width: 100%;
				}
			}
		}
		:first-child {
			margin-left: 0;
		}
	}
}
.home-products {
	padding-left: 0;
	li {
		padding: 15px 0;
		border-bottom: solid 1px #eee;
		list-style: none;
	}
}
