.woocommerce, 
.woocommerce-page,
.home-page {
	.col2-set {

		.col-1, .col-2 {
			width: 48%;
			max-width: 48%;
		}
	}
	ul.products {
		li.product {
			border: 1px solid $gray-lightest;
			padding: 0.6em;
			.imagewrapper {
				display: block;
				height: 8em;
				overflow: hidden;
				background-color: $brand-custom;
				margin-bottom: 1.3em;
				position: relative;
				.woocommerce-loop-product__title {
					position: relative;
					font-weight: bold;
					height: 8em;
					width: 14em;
					vertical-align: middle;
					text-align: center;
					z-index: 1;
					line-height: 1.2em;
					display: table-cell;
				}
				img {
					z-index: 10;
					position: relative;
					width: 100%;
				}
			}
			p {
				font-size: 0.9rem;
			}
			.star-rating {
				height: 1em;
				margin-top: -1.3em;
				margin-bottom: 0.3em;
				font-family: star;
			}
			.woocommerce-product-details__short-description {
				margin-bottom: 2.5em;
				height: 11em;
				overflow: hidden;
				p {
					
					margin-bottom: 0;
				}
			}
			.price {
				margin-top: -2em;
				font-size: 1em;
				color: #77a464;
				display: block;
				font-weight: 400;
				margin-bottom: .5em;
			}
			.button {
				background-color: $green;
				color: $white;
				padding: .5em 1em;
				margin-top: 0;
			}
		}
	}
	#content {
		div.product {
			div.summary {
				width: 25%;
				background-color: $gray-lighter;
				padding: 1em;
			}
			div.images {
				width: 100%;
				margin-bottom: 0;
			}
			p.price {
				font-size: 1.5em;
			}
		} 
		.product-description {
			width: 72%;
			float: left;
			margin-bottom: 2em;
		}
		.woocommerce-review-link, 
		.product_meta {
			font-size: 0.9em;
		}
	}
	button.button {
		padding: .5em 1em;
	}
	button.button.alt {
		background-color: $brand-success;
		&:hover {
			background-color: darken($brand-success, 10%);
		}
	}
	.quantity {
		.qty {
			height: 2em;
		}
	}
	.star-rating {
		span {
			color: $yellow;
		}
	}
	a.button.alt,
	input.button.alt {
		background-color: $green;
		padding: 0.6em 0.8em;
		&:hover,
		&:focus {
			background-color: $darkgreen;
		}
	}
	.cart-collaterals {
		.cart_totals, {
				width: 35%;
			}
	}
}	
#woocommerce-wrapper {
	margin-top: 50px;
}

/* Form checkout */

#yith-wcms-back-to-cart-button {
	float: left;
}
#checkout_timeline.horizontal.text {
	li {
		background-color: $brand-custom;
		padding-right: 0 !important;
		width: 24.9%;
		display: block;
		float: left;
		&:not(:last-child) {
			margin-right: 1px;
			.timeline-wrapper:after {
				content: "" !important;
			}
		}
		.timeline-step {
			display: block !important;
			padding: 12px 5px !important;
			float: left;
			&:after {
				content: "" !important;
			}
		}
		.timeline-label {
			display: block !important;
			float: left;
			width: auto;
			padding: 12px 5px !important;
			&:after {
				clear: both;
			}
		}
	}
	li.active {
		background-color: $brand-primary;
		color: $white;
	}
}
form.checkout.woocommerce-checkout {
	@media (min-width: 992px) {
		width: 60%;
	}
}


