footer {
	background-color: $brand-custom;
	padding: 2em 0;
	.row {
		margin-bottom: 1em;
	}
	ul {
		padding: 0;
		.menu-item {
			float: none;
			display: block;
		}
	}
	.copyright {
		font-size: 0.9em;
		text-align: center;
	}
}