.header {
	border-bottom: solid 1px $lightgrey;
	position: fixed;
	width: 100%;
	background-color: $white;
	z-index: 10;
	min-height: 5.5em;
	@media screen and (max-width: 645px) {
		min-height: 4.5em;
	}

	
	/* NAVBAR BRAND */
	.navbar-brand {
		margin-right: 2em;
		@media screen and (max-width: 645px) {
			max-width: 70%;
		}
		img {
			width: 36em;
			max-width: 260px;
			@media screen and (max-width: 645px) {
				width: 100%;
			}
		}
	}

	/* NAVBAR */
	.main-nav {
		li {
			a.dropdown-toggle {
				border: solid 1px $lightgrey;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				font-size: 1.2em;
				color: $brand-primary;
				&:hover .dropdown-menu {
					display: block;
				}
				@media screen and (max-width: 768px) {
					display: none;
				}
			}
			.dropdown-menu {
				@media screen and (max-width: 768px) {
					display: block;
					border: none;
					padding: 0;
				}
				a.dropdown-item {
					@media screen and (max-width: 768px) {
						padding: 2px 1em;
					}
				}
			}
		}
	}

	/* MAINNAV */
	.meta-nav {
		li {
			a {
				color: $gray;
				padding-left: 1em;
				&:hover,
				&:focus {
					color: $blue;
				}
			}
		}
	}
	
}
.wpmenucart-contents {
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
.sub-menu.wpmenucart {
	right: 0;
	left: auto;
	top: 50%;
}
