.home-hero {
	padding: 2.5em 0;
	background: url("../images/gebouw.jpg") no-repeat left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: solid 1px $lightgrey;
	.home-hero-tekst {
		color: $white;
		input {
			padding: 0.8em 0.5em;
			line-height: 1.2em;
			border: solid 1px $lightgrey;
			-webkit-border-top-left-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-bottomleft: 3px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			float: left;
			width: 80% !important;
			font-size: 0.8em;
			@media screen and (max-width: 768px) {
				width: 75% !important;
			}
		}
		button {
			-webkit-border-top-right-radius: 3px;
			-webkit-border-bottom-right-radius: 3px;
			-moz-border-radius-topright: 3px;
			-moz-border-radius-bottomright: 3px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			background: $brand-primary;
			line-height: 2em;
			border: solid 1px $lightgrey;
			color: $white;
			margin-left: -2px;
			font-size: 0.8em;
			padding: 0.4em 1em;
		}
	}
}

.themes,
.links {
	padding: 0 0 1.5em 0;
	.arrow-down {
		width: 100%;
		height: 2.5em;
		background: url("../images/arrow-down.png") no-repeat center top;
		margin-bottom: 1.5em;
	}
	h2 {
		color: $brand-primary;
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			display: inline-block;
			width: 30%;
			margin: 1em;
			@media screen and (max-width: 1024px) {
				margin: 0.7em;
			}
			@media screen and (max-width: 768px) {
				width: 45%;
			}
			@media screen and (max-width: 540px) {
				width: 95%;
			}
			a {
				display: block;
				width: 100%;
				background: $white;
				padding: 1em;
				border: solid 1px darken($brand-custom, 20%);
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				-webkit-transition: background-color 0.5s ease; /* Safari */
				transition: background-color 0.5s ease;
				.fa {
					font-size: 62px;
				}
				h3 {
					@media screen and (max-width: 1024px) {
						font-size: 1.50rem;
					}
				}
				&:hover,
				&:focus {
					text-decoration: none;
					background: $brand-custom;
					
				}
				&.smaller {
					h3 {
						font-size: 1.65rem;
						@media screen and (max-width: 1024px) {
							font-size: 1.40rem;
						}
					}
				}
			}
		}
	}
}
.themes {
	h2 {
		color: $gray;
	}
	p {
		font-size: 1.1em;
	}
	padding: 2.5em 0 1.5em 0;
	ul {
		li {
			a {
				background-color: $lightergrey;
				text-align: center;
				@media screen and (max-width: 540px) {
					text-align: left;
				}
				h3 {
					margin: 0.5em 0 0 0;
					@media screen and (max-width: 540px) {
						margin: 0.7em 0;
						font-size: 1.3em;
					}
				}
				.fa {
					@media screen and (max-width: 540px) {
						float: left;
						margin: 0 0.3em 0 0.1em;
						width: 1.1em;
						font-size: 50px;
					}
				}
				&.smaller {
					h3 {
						@media screen and (min-width: 540px) and (max-width: 640px) {
							font-size: 1.10rem;
							margin-top: 1em;
						}
						@media screen and (max-width: 540px) {
							margin: 0.7em 0;
							font-size: 1.3em;
						}
					}
					.fa {
						@media screen and (max-width: 540px) {
							float: left;
							margin: 0 0.3em 0 0.1em;
							width: 1.1em;
							font-size: 50px;
						}
					}
				}
			}
		}
	}
}
.links {
	background: url("../images/achtergrond.jpg") no-repeat left top #37a0e1;
	ul {
		li {
			a {
				border: solid 1px lighten($gray, 45%);
				.fa {
					float: left;
					font-size: 62px;
					margin: 0.5em 0.5em 0.5em 0;
					@media screen and (max-width: 1024px) {
						font-size: 56px;
						margin: 0.5em 0.3em 0.5em 0;
					}
					@media screen and (max-width: 640px) {
						margin: 0em 1.2em 0.5em 1.2em;
					}
					@media screen and (max-width: 540px) {
						margin: 0.2em 0.5em;
						width: 1.1em;
					}
					&.fa-graduation-cap {
						font-size: 58px;
					}
				}
				p {
					@media screen and (max-width: 1024px) {
						font-size: 0.9rem;
					}
				}
				&.smaller {
					.fa,
					&.fa-graduation-cap {
						@media screen and (max-width: 1024px) {
							font-size: 50px;
							margin: 0.7em 0.3em 0.7em 0;
						}
						@media screen and (max-width: 640px) {
							margin: 0em 1.2em 0.5em 1.2em;
							font-size: 54px;
						}
						@media screen and (max-width: 540px) {
							margin: 0.2em 0.5em;
						}
					}
				}
			}
		}
	}
}

.contact_home {
	margin: 2em 0;
}