.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		background-color: $gray-lightest;
		ul {
			list-style: none;
			margin-top: 1rem;
		}
	}
}
.woocommerce,
.woocommerce-page {
	.col2-set {
		.col-1,
		.col-2 {
			max-width: 48%;
		}
	}
}