// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
	font-family: 'Open Sans', sans-serif;
	color: $gray;	
}

h1 {
	font-size: 2em;
	color: $brand-primary;
	font-weight: 600;
	margin-bottom: 1em;
}
a {
	color: $blue;
	}

/* WIDGETS */

h3.widget-title {
	font-size: 20px;
}

/* MAIN */
.bg-custom {
	background-color: $brand-custom;
}
.content-wrapper {
	padding-top: 5.5em;
	@media screen and (max-width: 645px) {
		padding-top: 4.5em;
	}
}

.page-container {
	margin: 0 auto 2em auto;
}

.breadcrumbs {
	font-size: .92em;
    color: #777;
	padding-bottom: 1em;
	display: block;
}

/* Header */

.page-header {
	min-height: 15em;
	padding: 2.5em 0;
	background-color: $brand-custom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: $brand-primary;
	border-bottom: solid 1px $lightgrey;
	color: $white;
	margin-bottom: 1em;
}

/* Right of left nav */