{% extends "base.twig" %}

{% block content %}
	<div class="container page-container">
		<div class="row">
			<div class="col-md-3">
				<div class="sidebar">
					<h4>Nieuwsbrieven</h4>
					{% include "menu-nieuwsbrieven.twig" with {'nieuwsbrieven': nieuwsbrieven.get_items} %}
				</div>
			</div>
			<div class="col-md-9">
				<h1>{{ term.name }}</h1>
				<p>{{ term.description }}</p>
				{% for post in posts %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}