{% if homemenu %}
	<ul>
	{% for item in homemenu %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">
				{{ item.title }}
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</a>
			{% include "menu-home.twig" with {'homemenu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
